<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [action]="{name: 'Thêm mới'}"
                            (actionClick)="showModal()"
                            [search]="{placeholder: 'Tìm kiếm'}"
                            [filterReload]="callbackReloadData">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="15em"nzColumnKey="name" [nzSortFn]="true">Tên</th>
              <th nzWidth="15em">Loại</th>
              <th nzWidth="15em" nzColumnKey="description">Tỉ lệ chiết khấu</th>
              <th nzWidth="12em" nzColumnKey="last_modified_date" [nzSortFn]="true">
                Ngày cập nhật
              </th>
              <th nzWidth="10em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>
                <div class="custom-scrollbar" contenteditable="true"
                     [innerHtml]="dt.name! | lineBreak"></div>
              </td>
              <td>
                <ng-container [ngSwitch]="dt.commissionType">
                  <div *ngSwitchCase="TYPE_COMMISSION.DEFAULT.value">
                    {{TYPE_COMMISSION.DEFAULT.text}}
                  </div>
                  <div *ngSwitchCase="TYPE_COMMISSION.REVENUE.value">
                    {{TYPE_COMMISSION.REVENUE.text}}
                  </div>
                </ng-container>
              </td>
              <td>
                <vet-percent *ngIf="dt.commissionType === TYPE_COMMISSION.DEFAULT.value" [content]="dt.rate"></vet-percent>
              </td>
              <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline" (click)="showModal(dt)" title="Chỉnh sửa"></span>
                  <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"(click)="showDeleteModal(dt.id)" title="Xóa"></span>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách chiết khấu</vet-title-content-left>
</ng-template>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="idShowModal ? 'Cập nhật' : 'Thêm mới'"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
  <ng-template #modalContent>
    <nz-skeleton [nzLoading]="modalLoading">
      <form nz-form [formGroup]="validateCommissionForm">
        <input type="hidden" formControlName="id">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="name" nz-input/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Chiết khấu</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-radio-group nzName="commission-group" formControlName="commissionType"
                            (ngModelChange)="onchangeCommissionType($event)">
              <label *ngFor="let type of TYPE_COMMISSION.LIST" nz-radio [nzValue]="type.value">{{type.text}}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="validateCommissionForm.get('commissionType')?.value === TYPE_COMMISSION.DEFAULT.value">
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tỉ lệ chiết khấu</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-number-group nzAddOnAfter="%">
              <nz-input-number formControlName="rate" [nzStep]="1" [nzMin]="1" [nzMax]="100"></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
        <form nz-form [formGroup]="validateCommissionAccumulateForm"
              *ngIf="validateCommissionForm.get('commissionType')?.value === TYPE_COMMISSION.REVENUE.value">
          <div [formArrayName]="attributeArrayForm">
            <nz-form-item *ngFor="let item of formAccumulates.controls; let i = index" [formGroupName]="i">
              <nz-form-label nzNoColon="{{i !== 0}}" nzLabelAlign="right" [nzSm]="5">
                <ng-container *ngIf="i === 0">
                  Tỉ lệ chiết khấu
                </ng-container>
              </nz-form-label>
              <nz-form-control [nzSm]="18">
                <div nz-row [nzGutter]="16">
                  <div nz-col nzSpan="13">
                    <nz-input-group nzAddOnBefore="Doanh thu từ " nzAddOnAfter="VNĐ">
                      <input nz-input formControlName="revenueFrom" placeholder="1,000,000" [mask]="Constant.FORMAT_MONEY_SEPARATOR" thousandSeparator=",">
                    </nz-input-group>
                  </div>
                  <div nz-col nzSpan="9">
                    <nz-input-number-group nzAddOnBefore="Chiết khấu" nzAddOnAfter="%">
                      <nz-input-number formControlName="rate" [nzStep]="1" [nzMin]="1" [nzMax]="100"></nz-input-number>
                    </nz-input-number-group>
                  </div>
                  <div nz-col nzSpan="2">
                    <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                          (click)="removeField(i, $event)"></span>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSm]="5"></nz-form-control>
              <nz-form-control [nzSm]="18" class="align-center">
                <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addCommission()">
                  <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                  Thêm chiết khấu
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
      </form>
    </nz-skeleton>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary"
            [disabled]="validateCommissionForm.invalid || (validateCommissionForm.get('commissionType')?.value === TYPE_COMMISSION.REVENUE.value && formAccumulates.length === 0)"
            (click)="handleOk()"
            [nzLoading]="isConfirmLoading">
      {{idShowModal ? 'Câp nhật' : 'Thêm mới'}}
    </button>
  </ng-template>
</nz-modal>
<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa chiết khấu" nzOkText="Đồng ý" nzOkDanger="true"
          nzCancelText="Hủy" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa data đã chọn ?
  </ng-container>
</nz-modal>