<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <ng-container [ngTemplateOutlet]="titleAction"></ng-container>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzShowPagination]="false"
              [nzLoading]="loading"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="11em">Tên Sheet</th>
              <th nzWidth="45em">Sheet Id</th>
              <th nzWidth="13.5em">Tài khoản</th>
              <th nzWidth="15em">E-mail</th>
              <th nzWidth="6em">License</th>
              <th class="align-center" nzWidth="8em" nzColumnKey="action">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let dt of dataList">
              <tr>
                <td [nzExpand]="expandSet.has(dt.id!)"
                    (nzExpandChange)="onExpandChange(dt.id!, $event)">{{dt.name}}</td>
                <td>{{dt.id}}</td>
                <td>
                  <ng-container *ngFor="let account of dt.accountList; let i = index">
                    <nz-list-item-meta
                        [nzAvatar]="avatar"
                        nzDescription="{{account.phone | mask: Constant.FORMAT_PHONE_INPUT: Constant.FORMAT_DEFAULT}}"
                    >
                      <ng-template #avatar>
                        <nz-avatar style="background-color: #f56a00" nzText="TK {{i + 1}}"></nz-avatar>
                      </ng-template>
                      <nz-list-item-meta-title>
                        {{account.expiredDate | date: 'dd/MM/yyyy'}}
                      </nz-list-item-meta-title>
                    </nz-list-item-meta>
                  </ng-container>
                </td>
                <td>{{dt.email}}</td>
                <td>{{dt.license}}</td>
                <td class="align-center action">
                  <nz-space>
                    <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline"
                          (click)="showModal(dt)"
                          title="Chỉnh sửa">
                    </span>
                    <ng-container *ngIf="dt.deleted == 'false'">
                      <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"
                            (click)="showDeleteModal(dt.id)"
                            title="Xóa">
                      </span>
                    </ng-container>
                  </nz-space>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(dt.id!)">
                <nz-descriptions nzBordered nzSize="small">
                  <ng-container *ngFor="let api of dataApiList">
                    <ng-container *ngIf="ApiScriptCommonService.URL.includes(dt.id!) && api.id?.includes('System-')">
                      <nz-descriptions-item nzSpan="3" [nzTitle]="api.id!">
                        <button style="float: right" nz-button nzType="primary" (click)="executeApi(api)"
                                [nzLoading]="executingIdList.includes(api.id!)">Execute
                        </button>
                      </nz-descriptions-item>
                    </ng-container>
                    <ng-container *ngIf="!ApiScriptCommonService.URL.includes(dt.id!) && !api.id?.includes('System-')">
                      <ng-container *ngIf="api.id?.includes('{phone}') && dt.phone">
                        <nz-descriptions-item nzSpan="3" nzTitle="{{api.id! | replaceParam: '-{phone}': ''}}">
                          <nz-space style="float: right">
                            <ng-container *ngFor="let account of dt.accountList">
                              <button *nzSpaceItem nz-button nzType="primary" (click)="executeApi(api, dt, account.phone)"
                                      [nzLoading]="executingIdList.includes(api.id! | replaceParam: '{phone}': account.phone)">
                                Execute-{{account.phone | mask: Constant.FORMAT_PHONE_INPUT: Constant.FORMAT_DEFAULT}}
                              </button>
                            </ng-container>
                          </nz-space>
                        </nz-descriptions-item>
                      </ng-container>
                      <ng-container *ngIf="!api.id?.includes('{phone}')">
                        <nz-descriptions-item nzSpan="3" [nzTitle]="api.id!">
                          <button style="float: right" nz-button nzType="primary" (click)="executeApi(api, dt)"
                                  [nzLoading]="executingIdList.includes(api.id!)">Execute
                          </button>
                        </nz-descriptions-item>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </nz-descriptions>
              </tr>
            </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #titleLeft>
          Danh sách license
          <nz-tag [nzColor]="'#33CCFF'">
            <nz-statistic [nzValueStyle]="{'font-size': 'unset'}" [nzValue]="(total | number)!"></nz-statistic>
          </nz-tag>
        </ng-template>
        <ng-template #titleAction>
          <div nz-row [ngStyle]="{'margin-bottom': '10px'}">
            <div nz-col nzSpan="24">
              <button type="button" (click)="showModal()" class="btn btn-success">
                <i class="fas fa-plus"></i> Thêm mới
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="idShowModal ? modalFooterUpdate : modalFooterAdd"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
  <ng-template #modalTitle> {{idShowModal ? 'Cập nhật Config' : 'Thêm mới Config'}}</ng-template>
  <ng-template #modalContent>
    <nz-tabset>
      <nz-tab nzTitle="Thông tin cơ bản">
        <form nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-label nzLabelAlign="right" [nzSm]="5">Tên Sheet</nz-form-label>
            <nz-form-control [nzSm]="18">
              <input formControlName="name" nz-input placeholder="Tên sheet"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Sheet Id</nz-form-label>
            <nz-form-control [nzSm]="18">
              <input formControlName="id" nz-input placeholder="Sheet Id"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzLabelAlign="right" [nzSm]="5">E-mail</nz-form-label>
            <nz-form-control [nzSm]="18">
              <input formControlName="email" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzLabelAlign="right" [nzSm]="5">License</nz-form-label>
            <nz-form-control [nzSm]="18">
              <nz-select formControlName="license">
                <nz-option *ngFor="let status of TYPE_LICENSE.LIST" nzValue="{{status.value}}"
                           nzLabel="{{status.text}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <form nz-form [formGroup]="validateFormConfigSystem">
            <div [formArrayName]="attributeArrayFormPhones">
              <nz-form-item *ngFor="let item of formPhone.controls; let i = index" [formGroupName]="i">
                <nz-form-label nzNoColon="{{i !== 0}}" nzLabelAlign="right" [nzSm]="5">
                  <ng-container *ngIf="i === 0">
                    Tài khoản
                  </ng-container>
                </nz-form-label>
                <nz-form-control [nzSm]="18">
                  <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="11">
                      <input formControlName="phone" nz-input placeholder="(012) 123-4567" [mask]="Constant.FORMAT_PHONE_INPUT" />
                    </div>
                    <div nz-col nzSpan="11">
                      <nz-date-picker style="width: 100%" nzPlaceHolder="Ngày hết hạn" formControlName="expiredDate" nzFormat="yyyy-MM-dd"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="2">
                      <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeFieldAddAccount(i, $event)"></span>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="5"></nz-form-control>
                <nz-form-control [nzSm]="18" class="align-center">
                  <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addAccount()">
                    <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                    Thêm tài khoản
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </form>
      </nz-tab>
      <ng-container *ngIf="isShowModalSystem">
        <nz-tab nzTitle="Thông tin Config System">
          <form nz-form [formGroup]="validateFormConfigSystem">
            <div [formArrayName]="attributeArrayForm">
              <nz-form-item *ngFor="let item of formConfigSystem.controls; let i = index" [formGroupName]="i">
                <nz-form-label nzNoColon="{{i !== 0}}" nzLabelAlign="right" [nzSm]="5">
                  <ng-container *ngIf="i === 0">
                    Config System
                  </ng-container>
                </nz-form-label>
                <nz-form-control [nzSm]="18">
                  <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="22">
                      <input formControlName="id" nz-input placeholder="Tên config"/>
                      <textarea formControlName="data" nz-input placeholder="Data config"  style="top:1em;"></textarea>
                    </div>
                    <div nz-col nzSpan="2">
                      <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeFieldConfigSystem(i, $event, item)"></span>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="5"></nz-form-control>
                <nz-form-control [nzSm]="18" class="align-center">
                  <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addConfigSystem()">
                    <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                    Thêm config
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-tab>
        <nz-tab nzTitle="Thông tin API">
          <form nz-form [formGroup]="validateFormConfigSystem">
            <div [formArrayName]="attributeArrayFormAPI">
              <nz-form-item *ngFor="let item of formApi.controls; let i = index" [formGroupName]="i">
                <nz-form-label nzNoColon="{{i !== 0}}" nzLabelAlign="right" [nzSm]="5">
                  <ng-container *ngIf="i === 0">
                    Config Api
                  </ng-container>
                </nz-form-label>
                <nz-form-control [nzSm]="18">
                  <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="22">
                      <input formControlName="id" nz-input placeholder="Tên api"/>
                      <textarea rows="6" formControlName="data" nz-input placeholder="Data api"  style="top:1em;"></textarea>
                    </div>
                    <div nz-col nzSpan="2">
                      <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeFieldConfigApi(i, $event, item)"></span>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="5"></nz-form-control>
                <nz-form-control [nzSm]="18" class="align-center">
                  <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addConfigApi()">
                    <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                    Thêm API
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-tab>
      </ng-container>
    </nz-tabset>
  </ng-template>
  
  <ng-template #modalFooterAdd>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Thêm mới
    </button>
  </ng-template>
  <ng-template #modalFooterUpdate>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Câp nhật
    </button>
  </ng-template>
</nz-modal>

<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa config" nzOkText="Ok" nzOkDanger="true"
          nzCancelText="Hủy" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa data đã chọn ?
  </ng-container>
</nz-modal>
