<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [action]="{name: 'Thêm mới'}"
                            (actionClick)="showModal()"
                            [search]="{placeholder: 'Tìm kiếm'}"
                            (keyEnterSearch)="search($event)">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }">
            <thead>
            <tr>
              <th nzWidth="20em">Thông tin đại lý</th>
              <th nzWidth="20em">Thông tin liên lạc</th>
              <th nzWidth="20em">Tên miền web</th>
              <th nzWidth="10em" class="text-center">Chiết khấu</th>
              <th class="text-center" nzWidth="12em" nzColumnKey="last_modified_date" [nzSortFn]="true">
                Ngày cập nhật
              </th>
              <th class="text-center" nzColumnKey="status" nzWidth="12em" [nzSortFn]="true"
                  [nzFilters]="STATUS_AGENT.LIST" [nzFilterFn]="true">
                Trạng thái
              </th>
              <th class="text-center" nzWidth="10em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>
                <div>
                  <label>Mã: <span>{{dt.code}}</span></label>
                </div>
                <div>
                  <label>Tên: <span>{{dt.name}}</span></label>
                </div>
              </td>
              <td>
                <div>
                  <label>Số điện thoại: <vet-phone [content]="dt.phone"></vet-phone></label>
                </div>
                <div>
                  <label>E-mail: <span>{{dt.email}}</span></label>
                </div>
              </td>
              <td><a href="https://{{dt.realm}}.{{extensionDomain}}">https://{{dt.realm}}.{{extensionDomain}}</a></td>
              <td>{{dataCommissionMap.get(dt.commissionId!)?.name}}</td>
              <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
              <td class="align-center">
                <ng-container [ngSwitch]="dt.status">
                  <span *ngSwitchCase="STATUS_AGENT.IN_ACTIVE.value"><vet-status-danger [content]="STATUS_AGENT.IN_ACTIVE.text"></vet-status-danger></span>
                  <span *ngSwitchCase="STATUS_AGENT.IN_ACTIVE.value"><vet-status-success [content]="STATUS_AGENT.ACTIVATED.text"></vet-status-success></span>
                </ng-container>
              </td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline"
                          (click)="showModal(dt)"
                          title="Chỉnh sửa">
                  </span>
                  <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"
                        (click)="showDeleteModal(dt.id)"
                        title="Xóa">
                  </span>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách đại lý</vet-title-content-left>
</ng-template>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="idShowModal ? 'Cập nhật đại lý' : 'Thêm mới đại lý'"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <input type="hidden" formControlName="id">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã đại lý</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="code" nz-input placeholder="VETGO"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên đại lý</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="name" nz-input placeholder="Vet go"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên miền web</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-input-group nzAddOnBefore="https://" [nzAddOnAfter]="'.' + extensionDomain">
            <input nz-input formControlName="realm" placeholder="vetgo"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoai</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-input-group nzAddOnBefore="+84">
            <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">E-mail</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input type="email" formControlName="email" nz-input placeholder="vetgo@gmail.com"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Địa chỉ</nz-form-label>
        <nz-form-control [nzSm]="18">
                    <textarea rows="4" formControlName="address" nz-input
                              placeholder="Đường x, phường x, quận x..."></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Chiếc khấu</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="commissionId">
            <nz-option *ngFor="let commission of dataCommission" nzValue="{{commission.id}}"
                       nzLabel="{{commission.name}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="status">
            <nz-option *ngFor="let status of STATUS_AGENT.LIST" nzValue="{{status.value}}"
                       nzLabel="{{status.text}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">
      {{idShowModal ? 'Cập nhật' : 'Thêm mới'}}
    </button>
  </ng-template>
</nz-modal>

<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa dữ liệu" nzOkText="Đồng ý" nzOkDanger="true"
          nzCancelText="Hủy" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa data đã chọn ?
  </ng-container>
</nz-modal>
