<section class="section">
  <div class="section-body">
    <nz-card style="width: 100%" [nzTitle]="infoProduct" [nzBordered]="false" [nzBodyStyle]="{'padding': 'unset' }" [nzLoading]="loading">
      <div nz-row [nzGutter]="16" style="margin-top: 1.5em">
        <ng-container *ngFor="let dt of data.packages">
          <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
            <div class="pricing pricing-highlight">
              <div class="pricing-title">
                {{dt.name}}
              </div>
              <div class="pricing-padding" style="padding-bottom: unset">
                <div class="pricing-price">
                  <div>Giá{{data.code == CONFIG.CS_ZALO_EXPAND.value ? ' / TK' : ''}}</div>
                  <div>{{dt.price! | mask: 'separator' : Constant.FORMAT_MONEY}}</div>
                </div>
              </div>
              <div class="pricing-cta">
                <a href="javascript:void(0);" (click)="createComponentModal(dt.id!)">Mua <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </nz-card>
  </div>
</section>
<ng-template #infoProduct>
  <h5>Thông tin gói {{data.name!}}</h5>
</ng-template>
