<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a routerLink="/"> <img alt="image" src="assets/img/vetgo.png" class="header-logo" /> <span
        class="logo-name">VetGo</span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="dropdown index">
        <a [routerLink]="RouteURL.PAGE_DASHBOARD" class="nav-link"><i nz-icon nzType="dashboard" nzTheme="outline"></i><span>Tổng quan</span></a>
      </li>
      <li class="dropdown config" *ngxPermissionsOnly="[ROLES.ADMIN]">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            nz-icon nzType="api" nzTheme="outline"></i><span>Cấu hình</span></a>
        <ul class="dropdown-menu">
          <li class="manager-config-app"><a class="nav-link" [routerLink]="RouteURL.PAGE_MANAGER_CONFIG_APP">Ứng dụng</a></li>
          <li class="license-zalo"><a class="nav-link" [routerLink]="RouteURL.PAGE_LICENSE_ZALO">License zalo</a></li>
        </ul>
      </li>
      <li class="dropdown transactions" >
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            nz-icon nzType="transaction" nzTheme="outline"></i><span>Giao dịch</span></a>
        <ul class="dropdown-menu">
          <li *ngxPermissionsOnly="[ROLES.ADMIN]" class="order-await-approve-list"><a class="nav-link" [routerLink]="RouteURL.PAGE_APPROVE_MANUAL_PAYMENT">Đơn hàng chờ xác nhận</a></li>
          <li *ngxPermissionsOnly="[ROLES.AGENT, ROLES.DISTRIBUTOR, ROLES.PARTNER]" class="commission-await-approve-list"><a class="nav-link" [routerLink]="RouteURL.PAGE_APPROVE_MANUAL_PAYMENT_COMMISSION">Chiết khấu chờ xác nhận</a></li>
          <li class="history-transactions"><a class="nav-link" [routerLink]="RouteURL.PAGE_TRANSACTION_HISTORY_PAYMENT">Lịch sử giao dịch</a></li>
        </ul>
      </li>
      <li class="dropdown commissions" *ngxPermissionsOnly="[ROLES.ADMIN, ROLES.AGENT, ROLES.DISTRIBUTOR]">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            nz-icon nzType="percentage" nzTheme="outline"></i><span>Chiết khấu</span></a>
        <ul class="dropdown-menu">
          <li  class="commission-list"><a class="nav-link" [routerLink]="RouteURL.PAGE_COMMISSIONS">Danh sách chiết khấu</a></li>
          <li  class="commission-approve-pending-list"><a class="nav-link" [routerLink]="RouteURL.PAGE_COMMISSION_APPROVE_PENDING">Xét duyệt chiết khấu</a></li>
          <li  class="commission-approved-list"><a class="nav-link" [routerLink]="RouteURL.PAGE_COMMISSION_APPROVE">Chiết khấu đã duyệt</a></li>
        </ul>
      </li>
      <li class="dropdown product-service" *ngxPermissionsOnly="[ROLES.ADMIN]">
        <a class="nav-link" [routerLink]="RouteURL.PAGE_PRODUCT_SERVICE"><i
            nz-icon nzType="appstore" nzTheme="outline"></i><span>Sản phẩm</span></a>
      </li>
      <li class="dropdown orders">
        <a [routerLink]="RouteURL.PAGE_ORDERS" class="nav-link"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i><span>Đơn hàng</span></a>
      </li>
      <li class="dropdown agent" *ngxPermissionsOnly="[ROLES.ADMIN]">
        <a class="nav-link" [routerLink]="RouteURL.PAGE_AGENTS"><i
            nz-icon nzType="apartment" nzTheme="outline"></i><span>Đại lý</span></a>
      </li>
      <li class="dropdown agent-product" *ngxPermissionsOnly="[ROLES.AGENT]">
        <a class="nav-link" [routerLink]="RouteURL.PAGE_AGENT_PRODUCT"><i nz-icon nzType="appstore-add" nzTheme="outline"></i><span>Sản phẩm đăng ký</span></a>
      </li>
<!--      <li class="dropdown commission-list" *ngxPermissionsOnly="[ROLES.ADMIN, ROLES.AGENT, ROLES.DISTRIBUTOR]">-->
<!--        <a class="nav-link" [routerLink]="RouteURL.PAGE_COMMISSIONS"><i nz-icon nzType="percentage" nzTheme="outline"></i><span>Chiết khấu</span></a>-->
<!--      </li>-->
      <li class="dropdown agent-distributor" *ngxPermissionsOnly="[ROLES.AGENT]">
        <a class="nav-link" [routerLink]="RouteURL.PAGE_DISTRIBUTORS"><i
            nz-icon nzType="cluster" nzTheme="outline"></i><span>Nhà phân phối</span></a>
      </li>
      <li class="dropdown distributor" *ngxPermissionsOnly="[ROLES.DISTRIBUTOR]">
        <a class="nav-link" [routerLink]="RouteURL.PAGE_PARTNERS"><i
            nz-icon nzType="team" nzTheme="outline"></i><span>Cộng tác viên</span></a>
      </li>
      <li class="dropdown partner" *ngxPermissionsOnly="[ROLES.PARTNER]">
        <a [routerLink]="RouteURL.PAGE_ORDER_SERVICE" class="nav-link"><i nz-icon nzType="unordered-list" nzTheme="outline"></i><span>Danh sách SP</span></a>
      </li>
      <li class="dropdown customers" *ngxPermissionsExcept="[ROLES.CUSTOMER]">
        <a [routerLink]="RouteURL.PAGE_CUSTOMERS" class="nav-link"><i nz-icon nzType="user" nzTheme="outline"></i><span>Khách hàng</span></a>
      </li>
      <li class="dropdown package-purchased" *ngxPermissionsOnly="[ROLES.CUSTOMER]">
        <a [routerLink]="RouteURL.PAGE_PACKAGE_PURCHASED" class="nav-link"><i nz-icon nzType="cloud-server" nzTheme="outline"></i><span>Dịch vụ đã mua</span></a>
      </li>
      <li class="dropdown banking-info" *ngxPermissionsOnly="[ROLES.ADMIN, ROLES.AGENT, ROLES.DISTRIBUTOR]">
        <a [routerLink]="RouteURL.PAGE_SETTING_BANKING" class="nav-link"><i nz-icon nzType="bank" nzTheme="outline"></i><span>Cài đặt ngân hàng</span></a>
      </li>
    </ul>
  </aside>
</div>

