<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [search]="{placeholder: 'Tìm kiếm'}"
                            [filterReload]="callbackReloadData">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="12em">
                <span *ngxPermissionsOnly="[ROLES.ADMIN]">Đại lý</span>
                <span *ngxPermissionsOnly="[ROLES.AGENT]">Nhà phân phối</span>
                <span *ngxPermissionsOnly="[ROLES.DISTRIBUTOR]">Cộng tác viên</span>
              </th>
              <th nzWidth="5em">Tổng đơn</th>
              <th nzWidth="10em">Tổng tiền</th>
              <th nzWidth="5em">Chiết khấu</th>
              <th nzWidth="10em">Tổng tiền chiết khấu</th>
              <th nzWidth="5em">Chi tiết</th>
              <th nzWidth="5em">Trạng thái</th>
              <th nzWidth="5em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>
                {{dt.userName}}
              </td>
              <td>{{dt.totalOrder}}</td>
              <td><vet-money [content]="dt.totalOrderAmount"></vet-money></td>
              <td><vet-percent [content]="dt.commissionRate"></vet-percent></td>
              <td><vet-money [content]="dt.totalCommissionAmount"></vet-money></td>
              <td>
                <a href="{{dt.urlView}}" target="_blank">Xem chi tiết</a>
                <br>
                <a href="{{dt.urlDownload}}" target="_blank">Tải xuống</a>
              </td>
              <td class="align-center">
                <ng-container [ngSwitch]="dt.status">
                  <div *ngSwitchCase="STATUS_PAYMENT.UN_PAID.value">
                    <nz-space>
                      <!--                      <img *nzSpaceItem class="payment-icon"-->
                      <!--                           (click)="payment(dt!, PAYMENTS_METHOD.MOMO)" width="64px" height="50px"-->
                      <!--                           src="/assets/img/payment-momo.png" title="Thanh toán momo"-->
                      <!--                           alt="Thanh toán momo"/>-->
                      <img *nzSpaceItem class="payment-icon"
                           (click)="payment(dt!, PAYMENTS_METHOD.BANK_TRANSFER)" width="64px"
                           height="50px" src="/assets/img/payment-bank-transfer.png"
                           title="Thanh toán chuyển khoản" alt="Thanh toán chuyển khoản"/>
                    </nz-space>
                  </div>
                  <span *ngSwitchCase="STATUS_PAYMENT.IN_PAYMENT.value"><vet-status-info [content]="STATUS_PAYMENT.IN_PAYMENT.text"></vet-status-info></span>
                  <span *ngSwitchCase="STATUS_PAYMENT.PAID.value"><vet-status-success [content]="STATUS_PAYMENT.PAID.text"></vet-status-success></span>
                </ng-container>
              </td>
              <td class="align-center action">
                <ng-container [ngSwitch]="dt.status">
                  <span *ngSwitchCase="STATUS_PAYMENT.IN_PAYMENT.value"
                      nz-icon nzType="transaction"
                      nzTheme="outline"
                      (click)="showRePaymentModal(dt)"
                      title="Thanh toán Lại">
                  </span>
                  <span *ngSwitchCase="STATUS_PAYMENT.PAID.value"
                        nz-icon nzType="credit-card"
                        nzTheme="outline"
                        (click)="scriptFC.nextPagePaymentCompleteDetails(dt.id!, TYPE_PAYMENT.COMMISSION)"
                        title="Chi tiết thanh toán">
                  </span>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách chiết khấu đã duyệt</vet-title-content-left>
</ng-template>
<nz-modal [(nzVisible)]="isRePayment" nzTitle="Xác nhận thanh toán lại" nzOkText="Đồng ý"
          nzCancelText="Hủy bỏ" (nzOnOk)="rePayment()"
          (nzOnCancel)="handleCancelRePaymentModalPopup()">
  <ng-container *nzModalContent>
    <span>Bạn xác nhận có muốn thanh toán lại cho đơn hàng này?</span> <br>
    <span style="color: #ff4d4f">Lưu ý: Nếu bạn đồng ý thì trạng thái thanh toán trước đó sẽ bị hủy</span>
  </ng-container>
</nz-modal>