<section class="section">
    <div class="section-body">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-card style="width: 100%" nzTitle="Chi tiết thanh toán" [nzBordered]="false" [nzBodyStyle]="{'padding': 'unset', 'padding-top': '10px' }">
                    <div nz-row>
                        <div nz-col [nzXs]= "24" [nzSm]= "24" [nzXXl]="{span: 12, offset: 6}" [nzXl]="{span: 12, offset: 6}" [nzLg]="{span: 12, offset: 6}" [nzMd]="{span: 12, offset: 6}">
                            <nz-descriptions [nzTitle]="titleDetailsCustomer" nzSize="small" nzBordered>
                                <nz-descriptions-item nzTitle="Tên khách hàng">Huỳnh khắc trung</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Số điện thoại">18100000000</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="E-mail">2332@gmail.com</nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions [nzTitle]="titleDetailsOrder" nzSize="small" nzBordered>
                                <nz-descriptions-item nzTitle="Tên sản phẩm">VETGO</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Tên gói">VETGO</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Số tiền">10000000 VNĐ</nz-descriptions-item>
                            </nz-descriptions>
                            <nz-descriptions [nzTitle]="titleDetailsOrder" nzSize="small" nzBordered>
                                <nz-descriptions-item nzTitle="Phương thức thanh toán">MOMO</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Số tiền đã chuyển">10000000</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Trạng thái">Chuyển thành công</nz-descriptions-item>
                            </nz-descriptions>
                            <div class="text-center" style="margin-top: 10px;">
                                <button type="button" class="btn btn-outline-secondary note-btn" routerLink="/orders">Quay lại</button>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
</section>
<ng-template #titleDetailsCustomer>
    <div class="text-center">
        <span>Thông tin khách hàng</span>
    </div>
</ng-template>
<ng-template #titleDetailsOrder>
    <div class="text-center">
        <span>Thông tin thanh toán</span>
    </div>
</ng-template>
<ng-template #titleDetailsOrder>
    <div class="text-center">
        <span>Thông tin đơn hàng</span>
    </div>
</ng-template>


