<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [search]="{placeholder: 'Nhập nội dung thanh toán'}"
                            [filterReload]="callbackReloadData" [filterByDate]="true">
            <div nz-row [ngStyle]="{'margin-top': '15px'}" nzJustify="end" [nzGutter]="16">
              <div nz-col [nzXXl]="8"
                   [nzXl]="8"
                   [nzLg]="24"
                   [nzMd]="24"
                   [nzSm]="24"
                   [nzXs]="24">
                <nz-select style="width: 100%"
                           nzShowSearch
                           nzServerSearch
                           nzAllowClear
                           nzPlaceHolder="Chọn loại giao dịch"
                           [nzShowArrow]="false"
                           [(ngModel)]="selectReference"
                           nzSize="large"
                           (ngModelChange)="onChangeReference($event)">
                  <nz-option *ngFor="let item of TYPE_REFERENCE_PAYMENT.LIST" [nzValue]="item.value" [nzLabel]="item.text"></nz-option>
                </nz-select>
              </div>
            </div>
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="15em" nzColumnKey="code" >Nội dung thanh toán</th>
              <th nzWidth="10em">Phương thức</th>
              <th nzWidth="10em">ID</th>
              <th nzWidth="20em">Loại giao dịch</th>
              <th nzWidth="20em">Ghi chú</th>
              <th nzWidth="13em">Tổng tiền</th>
              <th nzWidth="10em">Trạng thái</th>
              <th nzWidth="10em">Người tạo</th>
              <th nzWidth="15em">Ngày tạo</th>
              <th nzWidth="10em">Người cập nhật</th>
              <th nzWidth="15em">Ngày cập nhật</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>{{dt.code}}</td>
              <td>{{dt.method}}</td>
              <td> <a href="javascript:void(0);" (click)="createComponentPaymentDetailsModal(dt.referenceId!, dt.referenceType!)">{{dt.referenceId}}</a></td>
              <td>
                <ng-container [ngSwitch]="dt.referenceType">
                  <span *ngSwitchCase="TYPE_REFERENCE_PAYMENT.PAYMENT_ORDER_SERVICE.value">{{TYPE_REFERENCE_PAYMENT.PAYMENT_ORDER_SERVICE.text}}</span>
                  <span *ngSwitchCase="TYPE_REFERENCE_PAYMENT.REFUND_COMMISSION_APPROVE.value">{{TYPE_REFERENCE_PAYMENT.REFUND_COMMISSION_APPROVE.text}}</span>
                </ng-container>
              </td>
              <td>{{dt.note}}</td>
              <td><vet-money [content]="dt.totalAmount"></vet-money></td>
              <td>
                <ng-container [ngSwitch]="dt.status">
                  <span *ngSwitchCase="STATUS_PAYMENT.UN_PAID.value"><vet-status-warning [content]="STATUS_PAYMENT.UN_PAID.text"></vet-status-warning></span>
                  <span *ngSwitchCase="STATUS_PAYMENT.IN_PAYMENT.value"><vet-status-info [content]="STATUS_PAYMENT.IN_PAYMENT.text"></vet-status-info></span>
                  <span *ngSwitchCase="STATUS_PAYMENT.PAID.value"><vet-status-success [content]="STATUS_PAYMENT.PAID.text"></vet-status-success></span>
                </ng-container>
              </td>
              <td>{{dt.createdBy}}</td>
              <td>{{dt.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{dt.lastModifiedBy}}</td>
              <td>{{dt.lastModifiedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách giao dịch</vet-title-content-left>
</ng-template>