<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false"
                 [nzBodyStyle]="{'padding': 'unset' }">
          <ng-container [ngTemplateOutlet]="titleAction"></ng-container>
          <nz-table *ngIf="modeView === MODE_DISPLAY.PC" [nzScroll]="{ x: '500px' }"
                    nzShowSizeChanger
                    [nzData]="dataList"
                    [nzFrontPagination]="false"
                    [nzLoading]="loading"
                    [nzTotal]="total"
                    [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex"
                    (nzQueryParams)="onQueryParamsChange($event)"
          >
            <thead>
            <tr>
              <th nzWidth="15em" nzColumnKey="code" [nzSortFn]="true">Khách hàng</th>
              <th nzWidth="15em" nzColumnKey="name" [nzSortFn]="true">E-mail</th>
              <th nzWidth="15em" nzColumnKey="name" [nzSortFn]="true">Địa chỉ</th>
              <th class="text-center" nzWidth="10em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>
                <nz-list-item-meta
                    *ngIf="dt"
                    [nzAvatar]="avatar"
                    [nzDescription]="dt.name!"
                >
                  <nz-list-item-meta-title>
                    {{dt.phone! |  mask: Constant.FORMAT_PHONE: Constant.FORMAT_DEFAULT_CONFIG}}
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
                <ng-template #avatar>
                  <nz-avatar nzIcon="user" nzSrc=""></nz-avatar>
                </ng-template>
              </td>
              <td>
                {{dt.email}}
              </td>
              <td>
                <div class="text-break custom-scrollbar" [innerHtml]="dt.address! | lineBreak"></div>
              </td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem nz-icon nzType="idcard" nzTheme="outline"
                        (click)="createComponentModalViewCustomer(dt)"
                        title="Xem chi tiết">
                  </span>
                  <ng-container *ngxPermissionsOnly="[ROLES.PARTNER]">
                    <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline"
                            (click)="showModal(dt)"
                            title="Chỉnh sửa">
                    </span>
                    <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"
                          (click)="showDeleteModal(dt)"
                          title="Xóa">
                    </span>
                  </ng-container>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
          <nz-table *ngIf="modeView === MODE_DISPLAY.MOBILE"
                    nzShowSizeChanger
                    [nzData]="dataList"
                    [nzFrontPagination]="false"
                    [nzLoading]="loading"
                    [nzTotal]="total"
                    [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex"
                    (nzQueryParams)="onQueryParamsChange($event)"
          >
            <tbody>
            <ng-container *ngFor="let dt of dataList">
              <tr>
                <td>
                  <div nz-row>
                    <div nz-col nzSpan="16">
                      <span>{{dt.name}}</span><br>
                      <span>{{dt.phone! |  mask: Constant.FORMAT_PHONE: Constant.FORMAT_DEFAULT_CONFIG}}</span>
                    </div>
                    <div nz-col nzSpan="8" class="icon-center-row">
                      <div class="action">
                        <nz-space>
                          <span *nzSpaceItem nz-icon nzType="idcard" nzTheme="outline"
                                (click)="createComponentModalViewCustomer(dt)"
                                title="Xem chi tiết">
                          </span>
                          <ng-container *ngxPermissionsOnly="[ROLES.PARTNER]">
                            <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline"
                                  (click)="showModal(dt)"
                                  title="Chỉnh sửa">
                            </span>
                            <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"
                                  (click)="showDeleteModal(dt)"
                                  title="Xóa">
                            </span>
                          </ng-container>
                        </nz-space>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #titleLeft>
          Danh sách khách hàng
          <nz-tag [nzColor]="'#33CCFF'">
            <nz-statistic [nzValueStyle]="{'font-size': 'unset'}"
                          [nzValue]="(total | number)!"></nz-statistic>
          </nz-tag>
        </ng-template>
        <ng-template #titleAction>
          <div nz-row [ngStyle]="{'margin-top': '15px'}">
            <div nz-col [nzXXl]="{ span: 6, offset: 18 }"
                 [nzXl]="{ span: 8, offset: 16 }"
                 [nzLg]="{ span: 10, offset: 14 }"
                 [nzMd]="{ span: 12, offset: 12 }"
                 [nzSm]="{ span: 12, offset: 12 }"
                 [nzXs]="24">
              <nz-input-group [nzSuffix]="suffixIconSearch" class="search-input">
                <input nzSize="large" type="text" nz-input placeholder="Nhập thông tin tìm kiếm"
                       (keyup.enter)="search($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <span nz-icon nzType="search" ></span>
              </ng-template>
            </div>
          </div>
          <div nz-row [ngStyle]="{'margin-top': '15px'}" *ngxPermissionsExcept="[ROLES.PARTNER]">
            <div nz-col [nzXXl]="{ span: 6, offset: 18 }"
                 [nzXl]="{ span: 8, offset: 16 }"
                 [nzLg]="{ span: 10, offset: 14 }"
                 [nzMd]="{ span: 12, offset: 12 }"
                 [nzSm]="{ span: 12, offset: 12 }"
                 [nzXs]="24">
              <nz-select
                  style="width: 100%"
                  nzShowSearch
                  nzServerSearch
                  nzAllowClear
                  [nzPlaceHolder]="placeHolder"
                  [(ngModel)]="selectUser"
                  [nzShowArrow]="false"
                  [nzFilterOption]="nzFilterOption"
                  (nzOnSearch)="handleInputChange($event)"
                  (ngModelChange)="filterOrder($event)"
              >
                <ng-container *ngxPermissionsOnly="[ROLES.ADMIN]; else option">
                  <nz-option *ngFor="let user of userList" [nzLabel]="user?.code! + ' - ' + (user?.phone! |  mask: Constant.FORMAT_PHONE: Constant.FORMAT_DEFAULT_CONFIG)"
                             [nzValue]="user.code"></nz-option>
                </ng-container>
                <ng-template #option>
                  <nz-option *ngFor="let user of userList" [nzLabel]="user?.code! + ' - ' + (user?.phone! |  mask: Constant.FORMAT_PHONE: Constant.FORMAT_DEFAULT_CONFIG)"
                             [nzValue]="user.id"></nz-option>
                </ng-template>
              </nz-select>
              <ng-template #placeHolder>
                <ng-container *ngxPermissionsOnly="[ROLES.ADMIN]">Đại lý</ng-container>
                <ng-container *ngxPermissionsOnly="[ROLES.AGENT]">Nhà phân phối</ng-container>
                <ng-container *ngxPermissionsOnly="[ROLES.DISTRIBUTOR]">Tạo bởi cộng tác viên</ng-container>
              </ng-template>
            </div>
          </div>
          <nz-divider></nz-divider>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Cập nhật"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <input type="hidden" formControlName="id">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã khách hàng</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="code" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên khách hàng</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="name" nz-input placeholder="Vet go"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoai</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-input-group nzAddOnBefore="+84">
            <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">E-mail</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input type="email" formControlName="email" nz-input placeholder="vetgo@gmail.com"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Địa chỉ</nz-form-label>
        <nz-form-control [nzSm]="18">
                    <textarea rows="4" formControlName="address" nz-input
                              placeholder="Đường x, phường x, quận x..."></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="status">
            <nz-option *ngFor="let status of STATUS_CUSTOMER.LIST" nzValue="{{status.value}}" nzLabel="{{status.text}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Câp nhật
    </button>
  </ng-template>
</nz-modal>
<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa khách hàng" nzOkText="Đồng ý" nzOkDanger="true"
          nzCancelText="Hủy bỏ" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa khách hàng này?
  </ng-container>
</nz-modal>
