<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzExtra]="titleRight" [nzBordered]="false">
                    <nz-table
                            nzShowSizeChanger
                            [nzData]="dataList"
                            [nzFrontPagination]="false"
                            [nzLoading]="loading"
                            [nzTotal]="total"
                            [nzPageSize]="pageSize"
                            [nzPageIndex]="pageIndex"
                            (nzQueryParams)="onQueryParamsChange($event)"
                    >
                        <thead>
                        <tr>
                            <th nzColumnKey="firebase" [nzSortFn]="true">Thông tin Firebase</th>
                            <th nzColumnKey="sheet_id" [nzSortFn]="true">Thông tin Sheet Id</th>
                            <th class="align-center" nzWidth="8em" nzColumnKey="customer_id">Khách hàng</th>
                            <th class="align-center" nzWidth="12em" nzColumnKey="last_modified_date" [nzSortFn]="true">
                                Ngày cập nhật
                            </th>
                            <th class="align-center" [nzFilters]="filterStatus" [nzFilterFn]="true"
                                nzColumnKey="status">Trạng thái
                            </th>
                            <th class="align-center" nzWidth="10em" nzColumnKey="action">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dt of dataList">
                            <td>{{dt.firebase}}</td>
                            <td>{{dt.sheetId}}</td>
                            <ng-container *ngIf="dt.customerId !== null; else emptyUser">
                                <td class="align-center">
                                    <nz-avatar nzSrc="{{dt.avatar}}" nz-tooltip
                                               nzTooltipTitle="{{dt.userName}}"></nz-avatar>
                                </td>
                            </ng-container>
                            <ng-template #emptyUser>
                                <td class="align-center">
                                    <nz-avatar style="background-color: #87d068" nz-tooltip nzTooltipTitle="User"
                                               nzIcon="user"></nz-avatar>
                                </td>
                            </ng-template>
                            <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td class="align-center">
                                <ng-container [ngSwitch]="dt.status">
                                    <div *ngSwitchCase="STATUS_CONFIG.NOT_ACTIVATED_VALUE"
                                         class="badge badge-shadow badge-danger">
                                        {{STATUS_CONFIG.NOT_ACTIVATED_LABEL}}
                                    </div>
                                    <div *ngSwitchCase="STATUS_CONFIG.PENDING_ACTIVE_VALUE"
                                         class="badge badge-shadow badge-primary">
                                        {{STATUS_CONFIG.PENDING_ACTIVE_LABEL}}
                                    </div>
                                    <div *ngSwitchCase="STATUS_CONFIG.ACTIVATED_VALUE"
                                         class="badge badge-shadow badge-success">
                                        {{STATUS_CONFIG.ACTIVATED_LABEL}}
                                    </div>
                                </ng-container>
                            </td>
                            <td class="align-center">
                                <button type="button" class="btn btn-warning note-btn" (click)="showModal(dt)"
                                        title="Chỉnh sửa">
                                    <i class="fas fa-edit"></i>
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-danger note-btn" (click)="showDeleteModal(dt.id)"
                                        title="Xóa">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
                <ng-template #titleLeft>
                    Danh sách config  <nz-tag [nzColor]="'#108ee9'">{{total}}</nz-tag>
                </ng-template>
                <ng-template #titleRight>
                    <div nz-row [nzGutter]="8">
                        <div nz-col [nzSm]="14">
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input nzSize="large" type="search" nz-input placeholder="input search text" (keyup.enter)="search($event)" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <span nz-icon nzType="search"></span>
                            </ng-template>
                        </div>
                        <div nz-col [nzSpan]="10">
                            <button type="button" (click)="showModal()" class="btn btn-success pull-right note-btn">
                                <i class="fas fa-plus"></i> Thêm mới
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="idShowModal ? modalFooterUpdate : modalFooterAdd"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
    <ng-template #modalTitle> {{idShowModal ? 'Cập nhật Config' : 'Thêm mới Config'}}</ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm">
            <input type="hidden" formControlName="id">
            <nz-form-item>
                <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Firebase Config</nz-form-label>
                <nz-form-control [nzSm]="18">
                    <textarea rows="6" formControlName="firebase" nz-input placeholder="FireBase Config"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Sheet Id</nz-form-label>
                <nz-form-control [nzSm]="18">
                    <input formControlName="sheetId" nz-input nzSize="large" placeholder="Sheet Id"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzLabelAlign="right" [nzSm]="5">Khách hàng</nz-form-label>
                <nz-form-control [nzSm]="18">
                    <nz-select ngModel="{{customerShowModal ? customerShowModal.id : ''}}" formControlName="customer"
                               nzSize="large">
                        <nz-option nzValue="" nzLabel="---"></nz-option>
                        <nz-option *ngIf="customerShowModal" nzValue="{{customerShowModal.id}}"
                                   nzLabel="{{customerShowModal.name}}"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Trạng thái</nz-form-label>
                <nz-form-control [nzSm]="18">
                    <nz-select formControlName="status" nzSize="large">
                        <nz-option nzValue="{{STATUS_CONFIG.NOT_ACTIVATED_VALUE}}"
                                   nzLabel="{{STATUS_CONFIG.NOT_ACTIVATED_LABEL}}"></nz-option>
                        <nz-option nzValue="{{STATUS_CONFIG.PENDING_ACTIVE_VALUE}}"
                                   nzLabel="{{STATUS_CONFIG.PENDING_ACTIVE_LABEL}}"></nz-option>
                        <nz-option nzValue="{{STATUS_CONFIG.ACTIVATED_VALUE}}"
                                   nzLabel="{{STATUS_CONFIG.ACTIVATED_LABEL}}"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #modalFooterAdd>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
                [nzLoading]="isConfirmLoading">Thêm mới
        </button>
    </ng-template>
    <ng-template #modalFooterUpdate>
        <button nz-button nzType="default" nzValue="large" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" nzValue="large" [disabled]="validateForm.invalid" (click)="handleOk()"
                [nzLoading]="isConfirmLoading">Câp nhật
        </button>
    </ng-template>
</nz-modal>

<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Delete Confirmation" nzOkText="Ok" nzOkDanger="true"
          nzCancelText="Cancel" (nzOnOk)="handleConfirmToDelete()"
          (nzOnCancel)="handleCancelDeletePopup()">
    <ng-container *nzModalContent>
        Are you sure you want to delete?
    </ng-container>
</nz-modal>
