<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <ng-container [ngTemplateOutlet]="titleAction"></ng-container>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              nzTableLayout="fixed"
          >
            <thead>
            <tr>
              <th nzColumnKey="sheetName" [nzSortFn]="true">Tên Sheet</th>
              <th>Thông tin Sheet Id</th>
              <th>Thông tin Firebase</th>
              <th nzColumnKey="codeAppVetgo" [nzSortFn]="true">Code App</th>
              <th class="align-center" nzWidth="8em" nzColumnKey="customer_id">Khách hàng</th>
              <th class="align-center" nzWidth="12em" nzColumnKey="last_modified_date" [nzSortFn]="true">
                Ngày cập nhật
              </th>
              <th class="align-center" nzWidth="12em" [nzFilters]="STATUS_CONFIG.LIST" [nzFilterFn]="true"
                  nzColumnKey="t1.status">Trạng thái
              </th>
              <th class="align-center" nzWidth="10em" nzColumnKey="action">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>{{dt.sheetName}}</td>
              <td nzEllipsis nz-tooltip nzTooltipTitle="{{dt.sheetId}}" nzTooltipPlacement="bottom">{{dt.sheetId}}</td>
              <td nzEllipsis nz-tooltip nzTooltipTitle="{{dt.firebase}}"
                  nzTooltipPlacement="bottom">{{dt.firebase}}</td>
              <td>{{dt.codeAppVetgo}}</td>
              <ng-container *ngIf="dt.customerId; else emptyUser">
                <td class="align-center">
                  <nz-avatar nzSrc="{{dt.avatar}}" nz-tooltip
                             nzTooltipTitle="{{dt.userName}}"></nz-avatar>
                </td>
              </ng-container>
              <ng-template #emptyUser>
                <td class="align-center">
                  <nz-avatar style="background-color: #87d068" nz-tooltip nzTooltipTitle="User"
                             nzIcon="user"></nz-avatar>
                </td>
              </ng-template>
              <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
              <td class="align-center">
                <ng-container [ngSwitch]="dt.status">
                  <div *ngSwitchCase="STATUS_CONFIG.IN_ACTIVE.value"
                       class="badge badge-shadow badge-danger">
                    {{STATUS_CONFIG.IN_ACTIVE.text}}
                  </div>
                  <div *ngSwitchCase="STATUS_CONFIG.PENDING_ACTIVE.value"
                       class="badge badge-shadow badge-primary">
                    {{STATUS_CONFIG.PENDING_ACTIVE.text}}
                  </div>
                  <div *ngSwitchCase="STATUS_CONFIG.ACTIVATED.value"
                       class="badge badge-shadow badge-success">
                    {{STATUS_CONFIG.ACTIVATED.text}}
                  </div>
                </ng-container>
              </td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline"
                        (click)="showModal(dt)"
                        title="Chỉnh sửa">
                  </span>
                  <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline"
                        (click)="showDeleteModal(dt.id)"
                        title="Xóa">
                  </span>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #titleLeft>
          Danh sách config
          <nz-tag [nzColor]="'#33CCFF'">
            <nz-statistic [nzValueStyle]="{'font-size': 'unset'}" [nzValue]="(total | number)!"></nz-statistic>
          </nz-tag>
        </ng-template>
        <ng-template #titleAction>
          <div nz-row [ngStyle]="{'margin-bottom': '10px'}">
            <div nz-col nzSpan="8">
              <button type="button" (click)="showModal()" class="btn btn-success">
                <i class="fas fa-plus"></i> Thêm mới
              </button>
            </div>
            <div nz-col nzSpan="6" nzOffset="10">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input nzSize="large" type="search" nz-input placeholder="input search text"
                       (keyup.enter)="search($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="idShowModal ? modalFooterUpdate : modalFooterAdd"
          (nzOnCancel)="handleCancel()" nzWidth="800px">
  <ng-template #modalTitle> {{idShowModal ? 'Cập nhật Config' : 'Thêm mới Config'}}</ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="codeAppVetgo">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên config</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="sheetName" nz-input placeholder="Tên sheet"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Sheet Id</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="sheetId" nz-input placeholder="Sheet Id"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Firebase Config</nz-form-label>
        <nz-form-control [nzSm]="18">
          <textarea rows="6" formControlName="firebase" nz-input placeholder="FireBase Config"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Khách hàng</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select ngModel="{{customerShowModal ? customerShowModal.id : ''}}" formControlName="customer">
            <nz-option nzValue="" nzLabel="---"></nz-option>
            <nz-option *ngIf="customerShowModal" nzValue="{{customerShowModal.id}}"
                       nzLabel="{{customerShowModal.name}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="status">
            <nz-option *ngFor="let status of STATUS_CONFIG.LIST" nzValue="{{status.value}}"
                       nzLabel="{{status.text}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  
  <ng-template #modalFooterAdd>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Thêm mới
    </button>
  </ng-template>
  <ng-template #modalFooterUpdate>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">Câp nhật
    </button>
  </ng-template>
</nz-modal>

<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa config" nzOkText="Ok" nzOkDanger="true"
          nzCancelText="Hủy" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa data đã chọn ?
  </ng-container>
</nz-modal>
