<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [search]="{placeholder: 'Mã đơn hàng'}"
                            (keyEnterSearch)="search($event)">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataOrderList"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="15em" nzColumnKey="code" [nzSortFn]="true">Mã đơn hàng</th>
              <th nzWidth="15em" nzColumnKey="name" [nzSortFn]="true">Khách hàng</th>
              <th nzWidth="20em">Sản phẩm đã mua</th>
              <th nzWidth="10em">
                Nội dung thanh toán
              </th>
              <th class="text-center" nzWidth="10em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataOrderList">
              <td>{{dt.code}}</td>
              <td>
                <nz-list-item-meta
                    *ngIf="dt"
                    [nzAvatar]="avatar"
                    [nzDescription]="dt.customerName!"
                >
                  <nz-list-item-meta-title>
                    <vet-money [content]="dt.customerPhone"></vet-money>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
                <ng-template #avatar>
                  <nz-avatar nzIcon="user" nzSrc=""></nz-avatar>
                </ng-template>
              </td>
              <td>
                <nz-list-item-meta
                    *ngIf="dt"
                    nzAvatar="/assets/img/service-packages.png"
                    [nzDescription]="dt.attributesObject?.itemName! + ' - ' + dt.attributesObject?.packagesMap?.get(dt.packageId!)?.name"
                >
                  <nz-list-item-meta-title>
                    <vet-money [content]="dt.totalAmount"></vet-money>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </td>
              <td>{{dt.paymentCode}}</td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem
                        nz-icon nzType="transaction"
                        nzTheme="outline"
                        (click)="showApproveModal(dt)"
                        title="Xác nhận thanh toán">
                  </span>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách đơn hàng</vet-title-content-left>
</ng-template>
<nz-modal [(nzVisible)]="idShowModal" nzTitle="Xác nhận thanh toán" nzOkText="Đồng ý"
          nzCancelText="Hủy" (nzOnOk)="approvePayment()"
          [nzOkLoading]="isAwaitApprove"
          (nzOnCancel)="handleCancelApprovePopup()">
  <ng-container *nzModalContent>
    Xác nhận đơn hàng này đã thanh toán?
  </ng-container>
</nz-modal>