<section class="section">
  <div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <nz-spin nzTip="Đang xử lý..." [nzSpinning]="loading">
          <div class="card card-primary" *ngIf="statusForgotPassword == STATUS_FORGOT_PASSWORD.INPUT_INFO">
            <div class="card-header">
              <h4>Quên mật khẩu</h4>
            </div>
            <div class="card-body">
              <p class="text-muted">Mã xác nhận đổi mật khẩu sẽ gửi qua mail đã đăng ký tài khoản</p>
              <form nz-form [formGroup]="validateForgotPasswordForm" method="POST">
                <div class="form-group">
                  <label for="user-login">Tài khoản đăng nhập</label>
                  <input id="user-login" type="text" class="form-control" formControlName="userName" tabindex="1" required autofocus>
                </div>
                <div class="form-group">
                  <label for="new-password">Nhập mật khẩu mới</label>
                  <div class="input-group">
                    <input id="new-password" [type]="newPasswordVisible ? 'text' : 'password'" class="form-control" formControlName="newPassword">
                    <div class="input-group-prepend">
                      <div class="input-group-text" style="cursor: pointer" (click)="newPasswordVisible = !newPasswordVisible">
                        <i [class]="newPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="re-new-password">Nhập lại mật khẩu mới</label>
                  <div class="input-group">
                    <input id="re-new-password" [type]="reNewPasswordVisible ? 'text' : 'password'" class="form-control" formControlName="reNewPassword">
                    <div class="input-group-prepend" (click)="reNewPasswordVisible = !reNewPasswordVisible">
                      <div class="input-group-text" style="cursor: pointer">
                        <i [class]="reNewPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="validateForgotPasswordForm.invalid" (click)="sendCodeConfirm(false)">
                    Đổi mât khẩu
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card card-primary" *ngIf="statusForgotPassword == STATUS_FORGOT_PASSWORD.INPUT_PIN_CODE">
            <div class="card-header">
              <h4>Nhập mã xác nhận</h4>
            </div>
            <div class="card-body">
              <p class="text-muted">Mã xác nhận đã gửi tới hộp thư của {{this.emailForget}}</p>
              <form nz-form [formGroup]="validateConfirmResetPasswordForm" method="POST">
                <div class="form-group">
                  <label for="confirm-code">Mã xác nhận</label>
                  <input id="confirm-code" type="text" class="form-control" formControlName="pinCode" tabindex="1" required autofocus>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="validateConfirmResetPasswordForm.invalid" (click)="confirmResetPassword()">
                    Xác nhận
                  </button>
                </div>
                <div class="form-group">
                  <a *ngIf="isResendCodeConfirm" href="javascript:void(0)" (click)="sendCodeConfirm(true)">
                    Gửi lại mã xác nhận
                  </a>
                  <p *ngIf="!isResendCodeConfirm">
                    Gửi lại mã xác nhận sau {{countDownResendCode}} giây
                  </p>
                </div>
              </form>
            </div>
          </div>
          <!--<div class="card card-primary" *ngIf="statusForgotPassword == STATUS_FORGOT_PASSWORD.FINISH">
            <div class="card-header">
              <h4>Hoàn thành</h4>
            </div>
            <div class="card-body">
              <h4 style="text-align: center"> Mật khẩu đã được đổi thành công </h4>
              <div class="form-group">
                <a href="window.location.origin" class="btn btn-primary btn-lg btn-block">
                  Quay lại trang đăng nhập
                </a>
              </div>
            </div>
          </div>-->
          </nz-spin>
        </div>
      
      
    </div>
  </div>
</section>