<div class="center">
    <div class="error">
        <div class="number">4</div>
        <div class="illustration">
            <div class="circle"></div>
            <div class="clip">
                <div class="paper">
                    <div class="face">
                        <div class="eyes">
                            <div class="eye eye-left"></div>
                            <div class="eye eye-right"></div>
                        </div>
                        <div class="rosyCheeks rosyCheeks-left"></div>
                        <div class="rosyCheeks rosyCheeks-right"></div>
                        <div class="mouth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="number">3</div>
    </div>

    <div class="text">Oops. You do not have permission to access this page.</div>
    <a class="button" href="/">Back Home</a>
</div>
<div class="by">
    Illustration "Cezan - 404 Page Not Found"
    by <a class="byLink" href="https://dribbble.com/shots/3965778-Cezan-404-Page-Not-Found" target="_blank">Masoud Ardestani</a>
</div>