<nz-tabset>
  <nz-tab *ngIf="attributes.modeOpen === MODE_OPEN_MODAL_FORM_ORDER_SERVICE.INSERT" nzTitle="Khách hàng">
    <form nz-form [formGroup]="validateCustomerForm">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="status">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoai</nz-form-label>
        <nz-form-control [nzSm]="18" nzErrorTip="Hãy nhập số điện thoại">
          <nz-input-group nzAddOnBefore="+84">
            <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567" (ngModelChange)="onSearch($event)"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã KH</nz-form-label>
        <nz-form-control [nzSm]="18" nzErrorTip="Hãy nhập mã khách hàng">
          <input formControlName="code" nz-input placeholder="VETGO"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên KH</nz-form-label>
        <nz-form-control [nzSm]="18" nzErrorTip="Hãy nhập tên khách hàng">
          <input formControlName="name" nz-input placeholder="Vet go"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">E-mail</nz-form-label>
        <nz-form-control [nzSm]="18" nzErrorTip="Hãy nhập địa chỉ e-mail">
          <input type="email" formControlName="email" nz-input placeholder="vetgo@gmail.com"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Địa chỉ</nz-form-label>
        <nz-form-control [nzSm]="18">
                    <textarea rows="4" formControlName="address" nz-input placeholder="Đường x, phường x, quận x..."></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
  <nz-tab nzTitle="Sản phẩm" *ngIf="attributes.modeOpen !== MODE_OPEN_MODAL_FORM_ORDER_SERVICE.ADD_CONFIG">
    <form nz-form [formGroup]="validateOrderForm">
      <input type="hidden" formControlName="id">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Chọn sản phẩm</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="itemId" (ngModelChange)="handleChangeProduct($event)">
            <nz-option *ngFor="let product of attributes.productInfo" nzValue="{{product.id}}"
                       nzLabel="{{product.name}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Chọn gói</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="packageId" (ngModelChange)="handleChangePackage()">
            <nz-option *ngFor="let pk of productSelect?.packages"
                       nzValue="{{pk.id}}" nzLabel="{{pk.name}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <ng-container *ngIf="attributes.modeOpen == MODE_OPEN_MODAL_FORM_ORDER_SERVICE.CUSTOMER_ORDER">
        <ng-container [ngSwitch]="attributes.fromOrderMode">
          <form *ngSwitchCase="MODE_ORDER.FROM_CUSTOMER_CS_ZALO_EXPAND" nz-form [formGroup]="validateConfigForm">
            <div [formArrayName]="attributePhoneFormArray">
              <nz-form-item *ngFor="let item of phonesArrayForm.controls; let i = index" [formGroupName]="i">
                <ng-container *ngIf="i == 0">
                  <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoại</nz-form-label>
                  <nz-form-control [nzSm]="18">
                    <nz-input-group nzAddOnBefore="+84">
                      <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
                    </nz-input-group>
                  </nz-form-control>
                </ng-container>
                <ng-container *ngIf="i != 0">
                  <nz-form-label nzNoColon="true" nzLabelAlign="right" [nzSm]="5"></nz-form-label>
                  <nz-form-control [nzSm]="17">
                    <nz-input-group nzAddOnBefore="+84">
                      <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
                    </nz-input-group>
                  </nz-form-control>
                  <div nz-col [nzSm]="1" class="text-center">
                    <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removePhone(i, $event)"></span>
                  </div>
                </ng-container>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="5"></nz-form-control>
                <nz-form-control [nzSm]="18" class="align-center">
                  <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addPhone()">
                    <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                    Thêm tài khoản
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
          <form *ngSwitchCase="MODE_ORDER.FROM_CUSTOMER_CS_ZALO" nz-form [formGroup]="validateConfigForm">
            <nz-form-item>
              <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Chọn TK gia hạn</nz-form-label>
              <nz-form-control [nzSm]="18">
                <nz-select formControlName="phones" nzMode="tags" (ngModelChange)="handleChangePackage()" nzPlaceHolder="Chọn tài khoản">
                  <nz-option *ngFor="let dt of attributes.phoneList" [nzLabel]="dt! |  mask: Constant.FORMAT_PHONE: Constant.FORMAT_DEFAULT_CONFIG" [nzValue]="dt"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-container>
      </ng-container>
      <hr>
      <div nz-row>
        <div nz-col nzSpan="12">
          <h5>Tổng tiền</h5>
        </div>
        <div nz-col nzSpan="11" class="text-right">
          <h5>{{totalPrice! | mask: Constant.FORMAT_MONEY_SEPARATOR : Constant.FORMAT_MONEY_CONFIG }}</h5>
        </div>
      </div>
    </form>
  </nz-tab>
  <nz-tab
      *ngIf="attributes.modeOpen === MODE_OPEN_MODAL_FORM_ORDER_SERVICE.ADD_CONFIG
                    && attributeOrder.usingConfig !== CONFIG.NOT_USING.value && !attributeOrder.data"
      nzTitle="Cài đặt">
    <form nz-form [formGroup]="validateConfigForm">
      <ng-container [ngSwitch]="attributeOrder.usingConfig">
        <ng-container *ngSwitchCase="CONFIG.VET_APP.value">
          <ng-container *ngTemplateOutlet="CONFIG_VET_APP_FORM"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="CONFIG.POS.value">
          <ng-container *ngTemplateOutlet="CONFIG_POS_FORM"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="CONFIG.SPA.value">
          <ng-container *ngTemplateOutlet="CONFIG_SPA_FORM"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="CONFIG.CS_ZALO.value">
          <ng-container *ngTemplateOutlet="CONFIG_CS_ZALO_FORM"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="CONFIG.WIFI_MARKETING.value">
          <ng-container *ngTemplateOutlet="CONFIG_WIFI_MARKETING_FORM"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="CONFIG.ADMIN_ONLINE_SHOP.value">
          <ng-container *ngTemplateOutlet="CONFIG_ADMIN_ONLINE_SHOP_FORM"></ng-container>
        </ng-container>
      </ng-container>
      <ng-template #CONFIG_VET_APP_FORM>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã App</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="codeApp" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
      <ng-template #CONFIG_POS_FORM>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã App</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="codeApp" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
      <ng-template #CONFIG_SPA_FORM>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã App</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="codeApp" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
      <ng-template #CONFIG_CS_ZALO_FORM>
        <div [formArrayName]="attributePhoneFormArray">
          <nz-form-item *ngFor="let item of phonesArrayForm.controls; let i = index" [formGroupName]="i">
            <nz-form-label *ngIf="i == 0" nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoại</nz-form-label>
            <nz-form-control [nzSm]="18">
              <nz-input-group nzAddOnBefore="+84">
                <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-template>
      <ng-template #CONFIG_WIFI_MARKETING_FORM>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">CloudId</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="cloudId" nz-input/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên đăng nhập</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="userName" nz-input/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mật khẩu</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="password" nz-input/>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
      <ng-template #CONFIG_ADMIN_ONLINE_SHOP_FORM>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="name" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzLabelAlign="right" [nzSm]="5">Sub Domain</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="customDomain" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Số điện thoại</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzAddOnBefore="+84">
              <input [mask]="Constant.FORMAT_PHONE" formControlName="phone" nz-input placeholder="(090) 123-4567"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">E-mail</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input formControlName="email" nz-input placeholder="VETGO"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzLabelAlign="right" [nzSm]="5">Địa chỉ</nz-form-label>
          <nz-form-control [nzSm]="18">
                    <textarea rows="4" formControlName="address" nz-input placeholder="Đường x, phường x, quận x..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
    </form>
  </nz-tab>
</nz-tabset>
