<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft" [nzBordered]="false">
          <vet-title-action [action]="{name: 'Duyệt chiết khấu', isShow: canApprove}"
                            (actionClick)="showModal()"
                            [search]="{placeholder: 'Tìm kiếm'}"
                            (keyEnterSearch)="search($event)"
                            [selectSearchByUser]="{placeholder: placeHolder, roles: [ROLES.ADMIN, ROLES.AGENT, ROLES.DISTRIBUTOR], value: selectUser, userList: userList}"
                            (onChangeByUser)="filterOrder($event)">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="12em">
                <span *ngxPermissionsOnly="[ROLES.ADMIN]">Đại lý</span>
                <span *ngxPermissionsOnly="[ROLES.AGENT]">Nhà phân phối</span>
                <span *ngxPermissionsOnly="[ROLES.DISTRIBUTOR]">Cộng tác viên</span>
              </th>
              <th nzWidth="12em">Mã đơn hàng</th>
              <th nzWidth="8em">Tiền đơn hàng</th>
              <th nzWidth="5em">Chiết khấu</th>
              <th nzWidth="5em">Tiền chiết khấu</th>
              <th nzWidth="5em">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>{{dt.userCode}}</td>
              <td>{{dt.code}}</td>
              <td><vet-money [content]="dt.totalAmount"></vet-money></td>
              <td><vet-percent [content]="dt.rate"></vet-percent></td>
              <td><vet-money [content]="dt.commissionAmount"></vet-money></td>
              <td>
                <ng-container [ngSwitch]="dt.status">
                  <span *ngSwitchCase="STATUS_COMMISSION_APPROVE_PENDING.PENDING.value">
                    <vet-status-info [content]="STATUS_COMMISSION_APPROVE_PENDING.PENDING.text"></vet-status-info>
                  </span>
                  <span *ngSwitchCase="STATUS_COMMISSION_APPROVE_PENDING.APPROVE.value">
                    <vet-status-success [content]="STATUS_COMMISSION_APPROVE_PENDING.APPROVE.text"></vet-status-success>
                  </span>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách đơn chiết khấu</vet-title-content-left>
</ng-template>
<ng-template #placeHolder>
  <ng-container *ngxPermissionsOnly="[ROLES.ADMIN]">Đại lý</ng-container>
  <ng-container *ngxPermissionsOnly="[ROLES.AGENT]">Nhà phân phối</ng-container>
  <ng-container *ngxPermissionsOnly="[ROLES.DISTRIBUTOR]">Tạo bởi cộng tác viên</ng-container>
</ng-template>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isShowForm"
          nzTitle="Xác nhận duyệt đơn"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
  
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="18">
          <textarea formControlName="note" nz-input rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateForm.invalid" (click)="approveCommission()"
            [nzLoading]="isConfirmLoading">Duyệt đơn
    </button>
  </ng-template>
</nz-modal>
