<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-3">
                            <h4>Danh sách sản phẩm</h4>
                        </div>
                        <div class="col-9">
                            <button type="button" data-toggle="modal" data-target="#save-product-service-modal"
                                class="btn btn-success pull-right note-btn" disabled onclick="openModal(this);"><i
                                    class="fas fa-plus"></i> Thêm mới sản phẩm</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <nz-table
                                    nzShowSizeChanger
                                    [nzData]="dataList"
                                    [nzFrontPagination]="false"
                                    [nzLoading]="loading"
                                    [nzTotal]="total"
                                    [nzPageSize]="pageSize"
                                    [nzPageIndex]="pageIndex"
                                    (nzQueryParams)="onQueryParamsChange($event)"
                                    (nzPageIndexChange)="onPageIndexChange($event)"
                            >
                                <thead>
                                <tr>
                                    <th nzWidth="10%" nzColumnKey="name" [nzSortFn]="true">Sản phẩm</th>
                                    <th nzWidth="30%" nzColumnKey="description" [nzSortFn]="true">Thông tin sản phẩm</th>
                                    <th nzWidth="25%">Thông tin Gói</th>
                                    <th nzWidth="15%" nzColumnKey="last_modified_date" [nzSortFn]="true">Ngày cập nhật</th>
                                    <th nzWidth="10%">Trạng thái</th>
                                    <th nzWidth="10%">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let dt of dataList">
                                    <td>{{dt.name}}</td>
                                    <td>{{dt.description}}</td>
                                    <td class="align-center">
                                    </td>
                                    <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                                    <td class="align-center">
                                        <div class="badge badge-shadow"
                                             [ngClass]="dt.status === '0' ? 'badge-danger' : 'badge-success'">
                                            {{ dt.status === '0' ? 'Chưa sử dụng' : 'Đang sử dụng' }}
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <button type="button" class="btn btn-warning note-btn" (click)="showModal(dt)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn btn-danger note-btn" (click)="showDeleteModal(dt.id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="product-list-table">
                                <thead>
                                    <tr>
                                        <th class="text-center pt-3">
                                            <div class="custom-checkbox custom-checkbox-table custom-control">
                                                <input type="checkbox" data-checkboxes="product-group"
                                                    data-checkbox-role="dad" class="custom-control-input"
                                                    id="checkbox-all">
                                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>Sản phẩm</th>
                                        <th>Thông tin sản phẩm</th>
                                        <th>Thông tin Gói</th>
                                        <th>Ngày cập nhật</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="save-product-service-modal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="formModal">Thêm sản phẩm</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <input type="hidden" id="id-product">
                    <input type="hidden" id="index-row">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 align-center title-modal">
                                <h4>Thông tin sản phẩm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-2 col-form-label-sm font-bold">Tên sản phẩm</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Hãy nhập tên sản phẩm"
                                    name="name-product" id="name-product">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-2 col-form-label-sm font-bold">Mô tả</label>
                            <div class="col-md-10">
                                <textarea style="height: 100% !important;" rows="5" class="form-control h-25"
                                    placeholder="Thông tin sản phẩm" name="description-product"
                                    id="description-product"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-2 col-form-label-sm font-bold">Trạng thái</label>
                            <div class="col-md-10">
                                <select name="status" class="form-control form-control-sm select-scroll"
                                    id="status-product">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 align-center title-modal">
                                <h4>Thông tin gói sản phẩm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group empty-package-product">
                        <div class="row">
                            <label class="col-md-12 align-center ">Không có thông tin gói sản phẩm</label>
                        </div>
                    </div>
                    <div class="form-group" id="content-package"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button id="btn-add-new-package" type="button" class="btn btn-success"><i
                                        class="fas fa-save"></i> Thêm gói mới</button>
                            </div>
                        </div>
                    </div>
                    <button id="btn-add-new-product" type="button" class="btn btn-success pull-right save-product"><i
                            class="fas fa-save"></i> Thêm mới</button>
                    <button id="btn-delete-product" type="button" class="btn btn-danger pull-right"><i
                            class="fas fa-trash"></i> Xóa</button>
                    <button id="btn-update-product" type="button"
                        class="add-category btn btn-success pull-right save-product m-r-15"><i class="fas fa-save"></i>
                        Cập nhật</button>
                </form>
            </div>
        </div>
    </div>
</div>