<section class="section">
  <div class="section-body">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-card style="width: 100%" [nzTitle]="titleLeft"  [nzBordered]="false">
          <vet-title-action [action]="{name: 'Thêm mới'}"
                            (actionClick)="showModal()"
                            [search]="{placeholder: 'Tìm kiếm'}"
                            [filterReload]="callbackReloadData">
          </vet-title-action>
          <nz-table
              nzShowSizeChanger
              [nzData]="dataList"
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzScroll]="{ x: '500px' }"
          >
            <thead>
            <tr>
              <th nzWidth="16em" nzColumnKey="code" [nzSortFn]="true">Mã sản phẩm</th>
              <th nzWidth="16em" nzColumnKey="name" [nzSortFn]="true">Sản phẩm</th>
              <th nzWidth="16em" nzColumnKey="description">Thông tin sản phẩm</th>
              <th nzWidth="16em">Thông tin Gói</th>
              <th class="align-center" nzWidth="12em" nzColumnKey="last_modified_date" [nzSortFn]="true">
                Ngày cập nhật
              </th>
              <th nzColumnKey="status" nzWidth="12em" [nzSortFn]="true" [nzFilters]="STATUS_PRODUCT_SERVICE.LIST" [nzFilterFn]="true">
                Trạng thái
              </th>
              <th class="align-center" nzWidth="10em">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dt of dataList">
              <td>{{dt.code}}</td>
              <td>{{dt.name}}</td>
              <td>
                <div class="custom-scrollbar" contenteditable="true" [innerHtml]="dt.description! | lineBreak"></div>
              </td>
              <td>
                <nz-list nzSize="small" class="custom-scrollbar">
                  <nz-list-item *ngFor="let p of dt.packages">
                    <nz-skeleton *ngIf="!p" [nzAvatar]="true"
                                 [nzParagraph]="{ rows: 1 }"></nz-skeleton>
                    <nz-list-item-meta nzAvatar="/assets/img/service-packages.png" [nzDescription]="p.name ? p.name : ''">
                      <nz-list-item-meta-title><vet-money [content]="p.price"></vet-money>
                      </nz-list-item-meta-title>
                    </nz-list-item-meta>
                  </nz-list-item>
                </nz-list>
              </td>
              <td class="align-center">{{dt.lastModifiedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
              <td class="align-center">
                <ng-container [ngSwitch]="dt.status">
                  <span *ngSwitchCase="STATUS_PRODUCT_SERVICE.UN_DEPLOYED.value">
                    <vet-status-danger [content]="STATUS_PRODUCT_SERVICE.UN_DEPLOYED.text"></vet-status-danger>
                  </span>
                  <span *ngSwitchCase="STATUS_PRODUCT_SERVICE.DEPLOYED.value">
                    <vet-status-success [content]="STATUS_PRODUCT_SERVICE.DEPLOYED.text"></vet-status-success>
                  </span>
                </ng-container>
              </td>
              <td class="align-center action">
                <nz-space>
                  <span *nzSpaceItem nz-icon nzType="edit" nzTheme="outline" (click)="showModal(dt)" title="Chỉnh sửa"> </span>
                  <span *nzSpaceItem nz-icon nzType="delete" nzTheme="outline" (click)="showDeleteModal(dt.id)" title="Xóa"></span>
                </nz-space>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
    </div>
  </div>
</section>
<ng-template #titleLeft>
  <vet-title-content-left [quantity]="total">Danh sách Sản phẩm</vet-title-content-left>
</ng-template>
<!-- Create/Update Form -->
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="idShowModal ? 'Cập nhật sản phẩm' : 'Thêm mới sản phẩm'"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()" [nzStyle]="{'width': '800px', 'max-height': '750px', 'overflow-y': 'auto'}">
  
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateProductForm">
      <input type="hidden" formControlName="id">
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Loại Config</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="usingConfig" [ngModel]="" (ngModelChange)="eventChangeTypeConfig($event)">
            <nz-option *ngFor="let config of CONFIG_LIST" nzValue="{{config.value}}" nzLabel="{{config.text}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Mã sản phẩm</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="code" nz-input placeholder="VETGO"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Tên sản phẩm</nz-form-label>
        <nz-form-control [nzSm]="18">
          <input formControlName="name" nz-input placeholder="Vet go"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzLabelAlign="right" [nzSm]="5">Mô tả sản phẩm</nz-form-label>
        <nz-form-control [nzSm]="18">
          <textarea rows="4" formControlName="description" nz-input placeholder="vet go..."></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzLabelAlign="right" [nzSm]="5">Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="18">
          <nz-select formControlName="status">
            <nz-option *ngFor="let status of STATUS_PRODUCT_SERVICE.LIST" nzValue="{{status.value}}" nzLabel="{{status.text}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <form nz-form [formGroup]="validatePackageProductForm">
        <div [formArrayName]="attributeArrayForm">
          <nz-form-item *ngFor="let item of formPackage.controls; let i = index" [formGroupName]="i">
            <nz-form-label nzNoColon="{{i !== 0}}" nzLabelAlign="right" [nzSm]="5">
              <ng-container *ngIf="i === 0">
                Thông tin gói
              </ng-container>
            </nz-form-label>
            <nz-form-control [nzSm]="18">
              <input type="hidden" formControlName="id">
              <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="12">
                  <nz-input-group nzAddOnBefore="Loại gói">
                    <nz-select formControlName="typePackage" [ngModel]=""  (ngModelChange)="changeTypePackage($event, i)">
                      <nz-option [nzLabel]="TYPE_PAYMENT_PACKAGE.FREE.text" [nzValue]="TYPE_PAYMENT_PACKAGE.FREE.value"></nz-option>
                      <nz-option [nzLabel]="TYPE_PAYMENT_PACKAGE.PAYMENT.text" [nzValue]="TYPE_PAYMENT_PACKAGE.PAYMENT.value"></nz-option>
                    </nz-select>
                  </nz-input-group>
                  <nz-input-group nzAddOnBefore="Thời hạn" [nzAddOnAfter]="chooseTypeExpired">
                    <input formControlName="expired" nz-input (keyup)="inputExpired($event, i)"/>
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="10">
                  <nz-input-group nzAddOnBefore="Tên">
                    <input formControlName="name" nz-input placeholder="1 năm"/>
                  </nz-input-group>
                  <nz-input-group nzAddOnBefore="Giá " nzAddOnAfter="VNĐ">
                    <input nz-input formControlName="price" placeholder="1,000,000" [mask]="Constant.FORMAT_MONEY_SEPARATOR" thousandSeparator=",">
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="2" style="top:1em;">
                  <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(i, $event)"></span>
                </div>
              </div>
            </nz-form-control>
            <ng-template #chooseTypeExpired>
              <nz-select formControlName="type" [ngModel]="" (ngModelChange)="changeExpired($event, i)">
                <nz-option *ngFor="let typeExpiredPackage of TYPE_PACKAGE.LIST" [nzLabel]="typeExpiredPackage.text" [nzValue]="typeExpiredPackage.value"></nz-option>
              </nz-select>
            </ng-template>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSm]="5"></nz-form-control>
            <nz-form-control [nzSm]="18" class="align-center">
              <button nz-button nzBlock nzType="dashed" class="add-button" (click)="addPackage()">
                <span nz-icon nzType="plus" style="vertical-align:text-top;"></span>
                Thêm gói
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" [disabled]="validateProductForm.invalid" (click)="handleOk()"
            [nzLoading]="isConfirmLoading">
      {{idShowModal ? 'Câp nhật' : 'Thêm mới'}}
    </button>
  </ng-template>
</nz-modal>
<!-- Delete Confirmation -->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xoá sản phẩm" nzOkText="Đồng ý" nzOkDanger="true"
          nzCancelText="Hủy" (nzOnOk)="handleConfirmToDelete()"
          [nzOkLoading]="isConfirmLoadingDelete"
          (nzOnCancel)="handleCancelDeletePopup()">
  <ng-container *nzModalContent>
    Xóa data đã chọn ?
  </ng-container>
</nz-modal>
