<section class="section">
  <div class="section-body">
    <ng-container *ngIf="dataList.length === 0 then dataEmpty else data"></ng-container>
    <ng-template #dataEmpty>
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    </ng-template>
    <ng-template #data>
      <nz-spin nzTip="Đang cập nhật dữ liệu..." [nzSpinning]="loading">
        <div nz-row [nzGutter]="16">
          <ng-container *ngFor="let dt of dataList">
            <ng-container *ngIf="dt.attributeObject?.usingConfig == CONFIG.CS_ZALO.value then content_CS_ZALO else content"></ng-container>
            <ng-template #content>
              <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="pricing pricing-highlight">
                  <div class="pricing-title">
                    {{dt.attributeObject?.itemName}}
                  </div>
                  <div class="pricing-padding">
                    <div class="pricing-price">
                      <div>Ngày hết hạn</div>
                      <div>{{dt.expiredDate}}</div>
                    </div>
                    <div class="pricing-details">
                      <ng-container *ngIf="!dt.quantityDateUsing || dt.quantityDateUsing < 0 then packageExpired else packageUsing"></ng-container>
                      <div class="pricing-item">
                        <div class="pricing-item-icon bg-yellow"><i class="far fa-clock"></i></div>
                        <div class="pricing-item-label">Còn lại {{!dt.quantityDateUsing || dt.quantityDateUsing < 0 ? 0 : dt.quantityDateUsing}} ngày</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-cta">
                    <a [routerLink]="RouteURL.nextToPageWithId(RouteURL.PAGE_PACKAGE_RENEWAL, dt.itemId!)">Gia hạn gói <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #content_CS_ZALO>
              <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="pricing pricing-highlight">
                  <div class="pricing-title">
                    {{dt.attributeObject?.itemName}}
                  </div>
                  <div class="pricing-padding">
                    <div class="pricing-price">
                      <div>Gói</div>
                      <div>{{dt.attributeObject?.itemName}}</div>
                    </div>
                    <div class="pricing-details">
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">TK đăng ký: {{dt.quantityRegisterPhone}}</div>
                      </div>
                      <div class="pricing-item">
                        <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                        <div class="pricing-item-label">TK còn hạn sử dụng: {{dt.quantityNotExpiredPhone}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-cta">
                    <a [routerLink]="RouteURL.nextToPageWithId(RouteURL.PAGE_PACKAGE_RENEWAL, item_CS_ZALO_EXPAND.id!)">Thêm tài khoản ZALO <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <ng-container *ngFor="let phone of dataPhoneList_CS_ZALO">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                  <div class="pricing pricing-highlight">
                    <div class="pricing-title">
                      {{dt.attributeObject?.itemName}}
                    </div>
                    <div class="pricing-padding">
                      <div class="pricing-price">
                        <div>Ngày hết hạn</div>
                        <div>{{phone.expiredDate}}</div>
                      </div>
                      <div class="pricing-details">
                        <div class="pricing-item">
                          <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                          <div class="pricing-item-label">TK: {{phone.phone! | mask: Constant.FORMAT_PHONE_INPUT: Constant.FORMAT_DEFAULT}}</div>
                        </div>
                        <div class="pricing-item">
                          <div class="pricing-item-icon bg-yellow"><i class="far fa-clock"></i></div>
                          <div class="pricing-item-label">Còn lại {{!phone.quantityDateUsing || phone.quantityDateUsing < 0 ? 0 : phone.quantityDateUsing}} ngày</div>
                        </div>
                      </div>
                    </div>
                    <div class="pricing-cta">
                      <a href="javascript:void(0);" (click)="nextPage(phone.phone, dt.itemId!)">Gia hạn gói <i class="fas fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </ng-container>
          <ng-template #packageUsing>
            <div class="pricing-item">
              <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
              <div class="pricing-item-label">Đang sử dụng</div>
            </div>
          </ng-template>
          <ng-template #packageExpired>
            <div class="pricing-item">
              <div class="pricing-item-icon bg-danger text-white"><i class="fas fa-times"></i></div>
              <div class="pricing-item-label">Gói đã hết hạn</div>
            </div>
          </ng-template>
        </div>
      </nz-spin>
    </ng-template>
  </div>
</section>